#contact {
    @extend #about;

    marquee {
        width: 100px;
    }
    padding-bottom: 0;
    margin-bottom: 0;
    p {
        padding-left: 10%;
    }
}
#links {
    @extend #about;

    padding-top: 0;
    margin-top: 50px;
    marquee {
        width: 100px;
    }
} 
.icon-wrapper {
    padding-left: 10%;
}
.icon-wrapper__icon {
    width: 30px;
    padding-right: 50px;
    filter: alpha(Opacity=50); /* Полупрозрачность для IE */
    opacity: 0.5; /* Полупрозрачность для других браузеров */ 
	/*filter: grayscale(100%); /* чб */
	&:hover { 
		filter: alpha(Opacity=100); 
		opacity: 1;
		transition: 0.5s;
	}
}
