.footer {
    height: 170px;
    margin: 5px 100px;
    span {
        font-family: $textFont;
        color: $mediumColor; 
        font-size: 15px; 
    }
}
.footer__text {
    @include flexCenter(row, space-between, flex-start);
}

@media screen and (max-width: 400px) {
    .footer {
        margin: 5px 10px;
    }
}
